<aside class="sidebar sidebar-default">
    <div class="sidebar-profile">
        <img class="img-circle profile-image" src="~/theme/demo/images/profile.jpg">
        <div class="profile-body">
            <h4>Marlon Brice</h4>
            <div class="sidebar-user-links">
                <a class="btn btn-link btn-xs" href="pages-profile.html" data-placement="bottom" data-toggle="tooltip" data-original-title="Profile"><i class="fa fa-user"></i></a>
                <a class="btn btn-link btn-xs" href="javascript:;" data-placement="bottom" data-toggle="tooltip" data-original-title="Messages"><i class="fa fa-envelope"></i></a>
                <a class="btn btn-link btn-xs" href="javascript:;" data-placement="bottom" data-toggle="tooltip" data-original-title="Settings"><i class="fa fa-cog"></i></a>
                <a class="btn btn-link btn-xs" href="pages-sign-in.html" data-placement="bottom" data-toggle="tooltip" data-original-title="Logout"><i class="fa fa-sign-out"></i></a>
            </div>
        </div>
    </div>
    <nav>
        <h5 class="sidebar-header">Navigation</h5>
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-dropdown active open">
                <a href="#" title="Dashboards">
                    <i class="fa fa-lg fa-fw fa-home"></i> Dashboards
                </a>
                <ul class="nav-sub">
                    <li class="active open">
                        <a href="~/Dashboard/Index" title="Dashboard">
                            <i class="fa fa-fw fa-caret-right"></i> Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="analytics-overview.html" title="Analytics Overview">
                            <i class="fa fa-fw fa-caret-right"></i> Analytics Overview
                            <span class="label label-success pull-right">Hot</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-dropdown">
                <a href="#" title="Users">
                    <i class="fa fa-lg fa-fw fa-user"></i> Users
                </a>
                <ul class="nav-sub">
                    <li>
                        <a href="pages-members.html" title="Members">
                            <i class="fa fa-fw fa-caret-right"></i> Members
                        </a>
                    </li>
                    <li>
                        <a href="pages-profile.html" title="Profile">
                            <i class="fa fa-fw fa-caret-right"></i> Profile
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-dropdown">
                <a href="#" title="Orders">
                    <i class="fa fa-lg fa-fw fa-shopping-cart"></i> Orders
                    <span class="label label-danger pull-right">New</span>
                </a>
                <ul class="nav-sub">
                    <li>
                        <a href="pages-orders-dashboard.html" title="Orders">
                            <i class="fa fa-fw fa-caret-right"></i> Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="pages-orders.html" title="Orders">
                            <i class="fa fa-fw fa-caret-right"></i> Orders
                        </a>
                    </li>
                    <li>
                        <a href="pages-order-details.html" title="Profile">
                            <i class="fa fa-fw fa-caret-right"></i> Order Details
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-dropdown">
                <a href="#" title="Users">
                    <i class="fa fa-lg fa-fw fa-envelope-o"></i> Email
                    <span class="label label-success pull-right">Hot</span>
                </a>
                <ul class="nav-sub">
                    <li>
                        <a href="email-inbox.html" title="Inbox">
                            <i class="fa fa-fw fa-caret-right"></i> Inbox
                        </a>
                    </li>
                    <li>
                        <a href="email-message.html" title="Message">
                            <i class="fa fa-fw fa-caret-right"></i> Message
                        </a>
                    </li>
                    <li>
                        <a href="email-compose.html" title="Compose">
                            <i class="fa fa-fw fa-caret-right"></i> Compose
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-dropdown">
                <a href="#" title="UI Elements">
                    <i class="fa fa-lg fa-fw fa-suitcase"></i> UI Elements
                    <span class="label label-warning pull-right">Updated</span>
                </a>
                <ul class="nav-sub">
                    <li>
                        <a href="ui-typography.html" title="Typography">
                            <i class="fa fa-fw fa-caret-right"></i> Typography
                        </a>
                    </li>
                    <li>
                        <a href="ui-buttons.html" title="Buttons">
                            <i class="fa fa-fw fa-caret-right"></i> Buttons
                        </a>
                    </li>
                    <li>
                        <a href="ui-panels.html" title="Panels">
                            <i class="fa fa-fw fa-caret-right"></i> Panels
                        </a>
                    </li>
                    <li>
                        <a href="ui-modals.html" title="Modals">
                            <i class="fa fa-fw fa-caret-right"></i> Modals
                            <span class="label label-danger pull-right">New</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui-tabs-accordions.html" title="Tabs & Accordions">
                            <i class="fa fa-fw fa-caret-right"></i> Tabs & Accordions
                        </a>
                    </li>
                    <li>
                        <a href="ui-tooltips-popovers.html" title="Tooltips & Popovers">
                            <i class="fa fa-fw fa-caret-right"></i> Tooltips & Popovers
                        </a>
                    </li>
                    <li>
                        <a href="ui-alerts.html" title="Alerts">
                            <i class="fa fa-fw fa-caret-right"></i> Alerts
                        </a>
                    </li>
                    <li>
                        <a href="ui-components.html" title="Components">
                            <i class="fa fa-fw fa-caret-right"></i> Components
                        </a>
                    </li>
                    <li>
                        <a href="ui-icons.html" title="Icons">
                            <i class="fa fa-fw fa-caret-right"></i> Icons
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-dropdown">
                <a href="#" title="Forms">
                    <i class="fa fa-lg fa-fw fa-edit"></i> Forms
                </a>
                <ul class="nav-sub">
                    <li>
                        <a href="forms-form-layouts.html" title="Form Layouts">
                            <i class="fa fa-fw fa-caret-right"></i> Form Layouts
                        </a>
                    </li>
                    <li>
                        <a href="forms-basic-elements.html" title="Basic Elements">
                            <i class="fa fa-fw fa-caret-right"></i> Basic Elements
                        </a>
                    </li>
                    <li>
                        <a href="forms-advanced-components.html" title="Advanced Components">
                            <i class="fa fa-fw fa-caret-right"></i> Advanced Components
                        </a>
                    </li>
                    <li>
                        <a href="forms-sliders.html" title="Sliders">
                            <i class="fa fa-fw fa-caret-right"></i> Sliders
                        </a>
                    </li>
                    <li>
                        <a href="forms-form-wizards.html" title="Form Wizards">
                            <i class="fa fa-fw fa-caret-right"></i> Form Wizards
                        </a>
                    </li>
                    <li>
                        <a href="forms-form-validation.html" title="Form Validation">
                            <i class="fa fa-fw fa-caret-right"></i> Form Validation
                        </a>
                    </li>
                    <li>
                        <a href="forms-editors.html" title="Editors">
                            <i class="fa fa-fw fa-caret-right"></i> Editors
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-dropdown">
                <a href="#" title="Tables">
                    <i class="fa fa-lg fa-fw fa-th-list"></i> Tables
                </a>
                <ul class="nav-sub">
                    <li>
                        <a href="tables-basic-tables.html" title="Basic Tables">
                            <i class="fa fa-fw fa-caret-right"></i> Basic Tables
                        </a>
                    </li>
                    <li>
                        <a href="tables-data-tables.html" title="Data Tables">
                            <i class="fa fa-fw fa-caret-right"></i> Data Tables
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-dropdown">
                <a href="#" title="Charts">
                    <i class="fa fa-lg fa-fw fa-bar-chart-o"></i> Charts
                </a>
                <ul class="nav-sub">
                    <li>
                        <a href="charts-rickshaw.html" title="Rickshaw Charts">
                            <i class="fa fa-fw fa-caret-right"></i> Rickshaw Charts
                        </a>
                    </li>
                    <li>
                        <a href="charts-flot.html" title="Flot Charts">
                            <i class="fa fa-fw fa-caret-right"></i> Flot Charts
                        </a>
                    </li>
                    <li>
                        <a href="charts-morris.html" title="Morris.js Charts">
                            <i class="fa fa-fw fa-caret-right"></i> Morris.js Charts
                        </a>
                    </li>
                    <li>
                        <a href="charts-sparkline.html" title="Sparkline Charts">
                            <i class="fa fa-fw fa-caret-right"></i> Sparkline Charts
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-dropdown">
                <a href="#" title="Maps">
                    <i class="fa fa-lg fa-fw fa-map-marker"></i> Maps
                </a>
                <ul class="nav-sub">
                    <li>
                        <a href="maps-google.html" title="Google Maps">
                            <i class="fa fa-fw fa-caret-right"></i> Google Maps
                        </a>
                    </li>
                    <li>
                        <a href="maps-vector.html" title="Vector Maps">
                            <i class="fa fa-fw fa-caret-right"></i> Vector Maps
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-dropdown">
                <a href="#" title="Pages">
                    <i class="fa fa-lg fa-fw fa-file-text"></i> Pages
                </a>
                <ul class="nav-sub">
                    <li>
                        <a href="pages-search-results.html" title="Basic Tables">
                            <i class="fa fa-fw fa-caret-right"></i> Search Results
                        </a>
                    </li>
                    <li>
                        <a href="pages-sign-in.html" title="Sign In">
                            <i class="fa fa-fw fa-caret-right"></i> Sign In
                        </a>
                    </li>
                    <li>
                        <a href="pages-sign-up.html" title="Sign Up">
                            <i class="fa fa-fw fa-caret-right"></i> Sign Up
                        </a>
                    </li>
                    <li>
                        <a href="pages-404.html" title="404 Page">
                            <i class="fa fa-fw fa-caret-right"></i> 404 Page
                        </a>
                    </li>
                    <li>
                        <a href="pages-500.html" title="500 Page">
                            <i class="fa fa-fw fa-caret-right"></i> 500 Page
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-dropdown">
                <a href="#" title="Menu Levels">
                    <i class="fa fa-lg fa-fw fa-folder-open"></i> Menu Levels
                </a>
                <ul class="nav-sub">
                    <li>
                        <a href="javascript:;" title="Level 2.1">
                            <i class="fa fa-fw fa-file"></i>
                            Level 2.1
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" title="Level 2.2">
                            <i class="fa fa-fw fa-file"></i>
                            Level 2.2
                        </a>
                    </li>
                    <li class="nav-dropdown">
                        <a href="#" title="Level 2.3">
                            <i class="fa fa-fw fa-folder-open"></i>
                            Level 2.3
                            <span class="pull-right badge badge-info">More</span>
                        </a>
                        <ul class="nav-sub">
                            <li>
                                <a href="javascript:;" title="Level 3.1">
                                    <i class="fa fa-fw fa-file"></i>
                                    Level 3.1
                                </a>
                            </li>
                            <li class="nav-dropdown">
                                <a href="#" title="Level 3.2">
                                    <i class="fa fa-fw fa-folder-open"></i>
                                    Level 3.2
                                </a>
                                <ul class="nav-sub">
                                    <li>
                                        <a href="javascript:;" title="Level 4.1">
                                            <i class="fa fa-fw fa-file"></i>
                                            Level 4.1
                                        </a>
                                    </li>
                                    <li class="nav-dropdown">
                                        <a href="#" title="Level 4.2">
                                            <i class="fa fa-fw fa-folder-open"></i>
                                            Level 4.2
                                        </a>
                                        <ul class="nav-sub">
                                            <li class="nav-dropdown">
                                                <a href="#" title="Level 5.1">
                                                    <i class="fa fa-fw fa-folder-open"></i>
                                                    Level 5.1
                                                </a>
                                                <ul class="nav-sub">
                                                    <li>
                                                        <a href="javascript:;" title="Level 6.1">
                                                            <i class="fa fa-fw fa-file"></i>
                                                            Level 6.1
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" title="Level 6.2">
                                                            <i class="fa fa-fw fa-file"></i>
                                                            Level 6.2
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:;" title="Level 5.2">
                                                    <i class="fa fa-fw fa-file"></i>
                                                    Level 5.2
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" title="Level 5.3">
                                                    <i class="fa fa-fw fa-file"></i>
                                                    Level 5.3
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;" title="Level 4.3">
                                            <i class="fa fa-fw fa-file"></i>
                                            Level 4.3
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-dropdown">
                                <a href="#" title="Level 3.3">
                                    <i class="fa fa-fw fa-folder-open"></i>
                                    Level 3.3
                                </a>
                                <ul class="nav-sub">
                                    <li>
                                        <a href="javascript:;" title="Level 4.1">
                                            <i class="fa fa-fw fa-file"></i>
                                            Level 4.1
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="disabled">
                <a href="javascript:;" title="Disabled">
                    <i class="fa fa-lg fa-fw fa-th"></i> Disabled
                </a>
            </li>
        </ul>
        <h5 class="sidebar-header">Labels</h5>
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="javascript:;">
                    <i class="fa fa-fw fa-circle text-danger"></i>
                    Important Tasks
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="fa fa-fw fa-circle text-success"></i>
                    Support
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="fa fa-fw fa-circle text-info"></i>
                    Quotes
                </a>
            </li>
        </ul>
        <h5 class="sidebar-header">Summary</h5>
        <ul class="sidebar-summary">
            <li>
                <div class="mini-chart mini-chart-block">
                    <div class="chart-details">
                        <div class="chart-name">Total Sales</div>
                        <div class="chart-value">$261,885</div>
                    </div>
                    <div id="mini-chart-sidebar-1" class="chart pull-right"></div>
                </div>
            </li>
            <li>
                <div class="mini-chart mini-chart-block">
                    <div class="chart-details">
                        <div class="chart-name">Total Customers</div>
                        <div class="chart-value">12,491</div>
                    </div>
                    <div id="mini-chart-sidebar-2" class="chart pull-right"></div>
                </div>
            </li>
            <li>
                <div class="mini-chart mini-chart-block">
                    <div class="chart-details">
                        <div class="chart-name">Traffic</div>
                        <div class="chart-value">945,013</div>
                    </div>
                    <div id="mini-chart-sidebar-3" class="chart pull-right"></div>
                </div>
            </li>
        </ul>
    </nav>
</aside>