 

            <div class="page-subheading page-subheading-md">
                <ol class="breadcrumb">
                    <li><a href="javascript:;">Directory</a></li>
                    <li class="active"><a href="javascript:;">List</a></li>
                </ol>
            </div>

            @*<div class="panel-body">
                <button id="bb-alert" class="btn btn-warning margin-sm-bottom margin-sm-right">Alert Modal</button>
                <button id="bb-confirm" class="btn btn-success margin-sm-bottom margin-sm-right">Confirm Modal</button>
                <button id="bb-prompt" class="btn btn-info margin-sm-bottom margin-sm-right">Prompt Modal</button>
                <button id="bb-custom" class="btn btn-inverse margin-sm-bottom">Custom Modal</button>
            </div>*@

            @*<div class="page-heading page-heading-md">
                <h2>Uygulamalarınız</h2>
            </div>*@
            <div class="container-fluid-md">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Uygulama listeniz</h4>
                        @*<div class="panel-options">
                            <a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>
                        </div>*@
                         

                        <div class="form-group text-right">
                            <a class="btn btn-success" href="Edit/0"> Yeni </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="table-basicv" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>DirectoryCode</th>
                                        <th>DirectoryName</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>Delete</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody> </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>DirectoryCode</th>
                                        <th>DirectoryName</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>Delete</th>
                                        <th>Edit</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
 
            </div>

@*<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Modal Sizes</h4>
            <p>
                Modals have two optional sizes, available via modifier classes to be placed on a <code>.modal-dialog</code>.
            </p>

            <div class="panel-options">
                <a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <button class="btn btn-primary" data-toggle="modal" data-target="#bs-modal-lg">Large modal</button>
            <button class="btn btn-primary" data-toggle="modal" data-target="#bs-modal-sm">Small modal</button>
        </div>
    </div>
</div>*@
 
<!-- start: DEFAULT_MODAL -->
<div id="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="bs-modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="bs-modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <h4>Text in a modal</h4>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>

                <h4>Popover in a modal</h4>
                <p>This <a href="#" data-toggle="popover" role="button" class="btn btn-default " title="A Title" data-content="And here's some amazing content. It's very engaging. right?">button</a> should trigger a popover on click.</p>

                <h4>Tooltips in a modal</h4>
                <p><a href="#" data-toggle="tooltip" data-placement="top" title="Tooltip">This link</a> and <a href="#" data-toggle="tooltip" data-placement="top" title="Tooltip">that link</a> should have tooltips on hover.</p>

                <hr>

                <h4>Overflowing text to show scroll behavior</h4>
                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- end: DEFAULT_MODAL -->

<!-- start: SMALL_MODAL -->
<div id="bs-modal-sm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="bs-modal-sm-title" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="bs-modal-sm-title">Small Modal title</h4>
            </div>
            <div class="modal-body">
                <h4>Text in a modal</h4>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>

                <h4>Popover in a modal</h4>
                <p>This <a href="#" data-toggle="popover" role="button" class="btn btn-default " title="A Title" data-content="And here's some amazing content. It's very engaging. right?">button</a> should trigger a popover on click.</p>

                <h4>Tooltips in a modal</h4>
                <p><a href="#" data-toggle="tooltip" data-placement="top" title="Tooltip">This link</a> and <a href="#" data-toggle="tooltip" data-placement="top" title="Tooltip">that link</a> should have tooltips on hover.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- end: SMALL_MODAL -->

<!-- start: LARGE_MODAL -->
<div id="bs-modal-lg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="bs-modal-lg-title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="bs-modal-lg-title">Large Modal title</h4>
            </div>
            <div class="modal-body">
                <h4>Text in a modal</h4>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>

                <h4>Popover in a modal</h4>
                <p>This <a href="#" data-toggle="popover" role="button" class="btn btn-default " title="A Title" data-content="And here's some amazing content. It's very engaging. right?">button</a> should trigger a popover on click.</p>

                <h4>Tooltips in a modal</h4>
                <p><a href="#" data-toggle="tooltip" data-placement="top" title="Tooltip">This link</a> and <a href="#" data-toggle="tooltip" data-placement="top" title="Tooltip">that link</a> should have tooltips on hover.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- end: LARGE_MODAL -->

<!-- start: REMOTE_MODAL -->
<div id="bs-modal-remote" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="bs-modal-remote-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- end: REMOTE_MODAL -->


@section scripts {
    <script>
        $(document).ready(function () { /// $ not defined.
            //$.cengaver.BlockUI();

            //var oTable = $('#table-basicv').dataTable();
            //oTable.fnClearTable();  //tablo yüklenirken silinsin diye kullanılabilinir.

            $.cengaver.callService({
                service: 'List',
                request: {
                    TaskId:"4",
                },
                onSuccess: function (response) {
                    if (response.Entities != undefined )
                    {
                        $('#table-basicv').DataTable({
                            data: response.Entities,
                            columns: [
                                { data: "Id" },
                                { data: "DirectoryCode" },
                                { data: "DirectoryName" },
                                { data: "Description" },
                                { data: "Status" },
                                //{ data: null, render: function (data, type, full, meta) { return '<button class="fa-icon-edit" onclick="btnAct_DeleteDirectory(' + data.Id + ');">' + data.Id + '</button>' } },
                                { data: null, render: function (data, type, full, meta) { return ' <a href="#" data-rel="reload"><i class="fa fa-times fa-lg" onclick="btnAct_DeleteDirectory(' + data.Id + ');" ></i></a> ' } },
                                
                                //{ data: null, render: function (data, type, row) { return data.Id + ' - ' + data.DirectoryCode; } },
                                { data: null, render: function (data, type, full, meta) { return ' <a href="Edit/'+data.Id+'" data-rel="reload"><i class="fa fa-edit fa-lg"  ></i></a> ' } },
                            ]
                        });

                        //for (var i = 0; i < response.Entities.length; i++)
                        //    alert(response.Entities[i].Directory)
                    }
                }
            });
            
            srvAct_DeleteDirectory = function (DirectoryId) {
                $.cengaver.callService({
                    service: 'Delete',
                    request: {
                        EntityId: DirectoryId,
                    },
                    onSuccess: function (response) {
                        //alert("is it done !");
                        window.location.reload();
                    }
                });
            };

            btnAct_DeleteDirectory = function(DirectoryId) {
                bootbox.confirm("Are you sure want to delete? (" + DirectoryId + ")", function (result) {

                    //alert("Confirm result: " + result);

                    if (result == true)
                    {
                        srvAct_DeleteDirectory(DirectoryId);
                        //alert("Confirm result is true :" + result);
                     
                    }
                    //else 
                    //{
                    //    //alert("Confirm result is false :" + result);
                    //}
                });
            };
        });
    </script>
    <script src="~/theme/assets/plugins/jquery-datatables/js/jquery.dataTables.js"></script>
    <script src="~/theme/assets/plugins/jquery-datatables/js/dataTables.tableTools.js"></script>
    <script src="~/theme/assets/plugins/jquery-datatables/js/dataTables.bootstrap.js"></script>
    <script src="~/theme/assets/plugins/jquery-select2/select2.min.js"></script>
    <script src="~/theme/demo/js/tables-data-tables.js"></script>

    @* modal için varsayılan alert confirm prompt ve custom  için gerekli iki eleman *@
    <script src="~/theme/assets/plugins/bootbox/bootbox.js"></script>
    <script src="~/theme/demo/js/ui-modals.js"></script>
}